@{
    ViewData["Title"] = "Home Page";
}

<Table class="table">
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Hottest Post</th>
        <th scope="col">Active Users</th>
    </tr>
    <tbody id="subreddit-list"></tbody>
</Table>

@section scripts {    
    <script type="text/javascript">renderStats();</script>
}